beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
dateparser==1.2.0
exceptiongroup==1.2.1
feedparser==6.0.11
google-auth==2.30.0
google-auth-oauthlib==1.2.0
gspread==6.1.2
idna==3.7
iniconfig==2.0.0
oauthlib==3.2.2
packaging==24.1
pluggy==1.5.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pygooglenews==0.1.2
pytest==8.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.5
tomli==2.0.1
tzlocal==5.2
urllib3==2.2.1
